@font-face {
    font-family: Bnarm;
    
    src: url('Bnarm.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: Abasan;
    
    src: url('Abasan.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: Afsoon;
    
    src: url('Afsoon.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;
  }